.app-layout {
    display: flex;
    flex-direction: column;
}

.app-header {
    height: 64px;
    line-height: 64px;
    padding: 0;
}

.app-header .ant-menu {
    background: transparent;
}

.app-header .ant-menu-item {
    font-size: 15px;
}

.app-content {
    background: #f5f5f5;
}

.app-footer {
    margin-top: auto;
}